[package]
name = "rustsat"
version = "0.1.0"
edition = "2021"
authors = ["Christoph Jabs <christoph.jabs@helsinki.fi>"]

build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
nom = "7.1.1"
bzip2 = { version = "0.4", optional = true }
flate2 = { version = "1.0", optional = true, features = ["zlib-ng"], default-features = false }
rustc-hash = { version = "1.1", optional = true }
cpu-time = "1.0"
rand = { version = "0.8", optional = true }

[build-dependencies]
cc = { version = "1.0", features = ["parallel"] }
git2 = "0.15"
glob = "0.3"
chrono = "0.4"

[features]
default = ["cadical", "kissat", "optimization", "fxhash"]
fxhash = ["dep:rustc-hash"]
ipasir = []
cadical = []
kissat = []
optimization = []
multiopt = ["optimization"]
compression = ["dep:bzip2", "dep:flate2"]
rand = ["dep:rand"]
all-non-conflicting = ["cadical", "optimization", "multiopt", "compression", "rand"]

[[example]]
name = "enumerator"
required-features = ["compression"]

[[example]]
name = "cnf2opb"
required-features = ["compression"]

[[example]]
name = "opb2cnf"
required-features = ["compression"]

[[example]]
name = "wcnf2opb"
required-features = ["compression", "optimization"]

[[example]]
name = "opb2wcnf"
required-features = ["compression", "optimization"]

[[example]]
name = "mcnf2opb"
required-features = ["compression", "multiopt"]

[[example]]
name = "opb2mcnf"
required-features = ["compression", "multiopt"]

[[example]]
name = "shuffledimacs"
required-features = ["compression", "rand"]
