[workspace]
# path of the git-cliff configuration
changelog_config = "cliff.toml"

# enable changelog updates
changelog_update = true

# update dependencies with `cargo update`
dependencies_update = true

#create tags for the releases
git_tag_enable = true

# disable GitHub releases
git_release_enable = true

git_release_latest = false

# labels for the release PR
pr_labels = ["release"]

# needed because of committed files in kissat repo that are also in .gitignore
allow_dirty = true

# disallow packaging with uncommitted changes
publish_allow_dirty = false

# disable running `cargo-semver-checks`
semver_check = true

[[package]]
name = "rustsat"
git_release_latest = true

[[package]]
name = "rustsat-solvertests"
release = false
git_release_enable = false

[[package]]
name = "rustsat-capi"
release = false
git_release_enable = false

[[package]]
name = "rustsat-pyapi"
release = false
git_release_enable = false

[[package]]
name = "pigeons"
release = false
git_release_enable = false
