[package]
name = "rustsat-capi"
version = "0.6.3"
edition.workspace = true
authors = ["Christoph Jabs <christoph.jabs@helsinki.fi>"]
license.workspace = true
description = "C-API for the RustSAT library"
keywords = ["sat", "satisfiability", "encodings"]

build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rustsat = { workspace = true, features = ["internals", "fxhash"] }

[build-dependencies]
cbindgen = "0.28.0"

[dev-dependencies]
inline-c = "0.1.8"

[lib]
crate-type = ["staticlib"]
