[package]
name = "rustsat-cadical"
version = "0.2.5"
edition = "2021"
authors = ["Christoph Jabs <christoph.jabs@helsinki.fi>"]
license = "MIT"
description = "Interface to the SAT solver CaDiCaL for the RustSAT library."
keywords = ["sat-solver", "rustsat"]
repository = "https://github.com/chrjabs/rustsat"
readme = "README.md"

build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
debug = []
quiet = []
logging = []
v1-5-0 = []
v1-5-1 = []
v1-5-2 = []
v1-5-3 = []
v1-5-4 = []
v1-5-5 = []
v1-5-6 = []
v1-6-0 = []
v1-7-0 = []
v1-7-1 = []
v1-7-2 = []
v1-7-3 = []
v1-7-4 = []
v1-7-5 = []
v1-8-0 = []
v1-9-0 = []
v1-9-1 = []
v1-9-2 = []
v1-9-3 = []
v1-9-4 = []
v1-9-5 = []

[dependencies]
cpu-time = "1.0.0"
rustsat = { version = "0.4.4", path = "../rustsat", default-features = false }
thiserror = { version = "1.0.57" }
anyhow = { version = "1.0.80" }

[build-dependencies]
cc = { version = "1.0.83", features = ["parallel"] }
git2 = "0.18.1"
glob = "0.3.1"
chrono = "0.4.31"

[dev-dependencies]
rustsat-solvertests = { path = "../solvertests" }
clap = { version = "4.5.4", features = ["derive"] }
signal-hook = { version = "0.3.17" }
