[package]
name = "rustsat-kissat"
version = "0.1.6"
edition = "2021"
authors = ["Christoph Jabs <christoph.jabs@helsinki.fi>"]
license = "MIT"
description = "Interface to the SAT solver kissat for the RustSAT library."
keywords = ["sat-solver", "rustsat"]
repository = "https://github.com/chrjabs/rustsat"
readme = "README.md"

build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
debug = []
safe = []
quiet = []
v3-1-1 = []
v3-1-0 = []
v3-0-0 = []
sc2022-light = []
sc2022-hyper = []
sc2022-bulky = []

[dependencies]
cpu-time = "1.0.0"
rustsat = { version = "0.4.3", path = "../rustsat", default-features = false }
thiserror = { version = "1.0.57" }
anyhow = { version = "1.0.80" }

[build-dependencies]
cc = { version = "1.0.83", features = ["parallel"] }
git2 = "0.18.1"
glob = "0.3.1"
chrono = "0.4.31"

[dev-dependencies]
rustsat-solvertests = { path = "../solvertests" }
